/* import */
@import url("https://fonts.googleapis.com/css?family=Montserrat");








/* variables */
$primary: #ec008c;
$csecondary: #f1592a;
$tertiary: #0f75bc;
$cwhite: #ffffff;
$cwhitemid: #efefef;
$cdark: #181818;
$cdarkmid: #202020;








/* tag */
body
{
    font-family: 'Montserrat';
    letter-spacing: 1px;
}








/* id */








/* class */
.hidden
{
    display: none !important;
}




.color-primary
{
    color: $primary;
}




.color-secondary
{
    color: $csecondary;
}




.color-tertiary
{
    color: $tertiary;
}




.bg-primary
{
    background-color: $primary;
}




.bg-secondary
{
    background-color: $csecondary;
}




.bg-tertiary
{
    background-color: $tertiary;
}




.bg-dark
{
    /* mid dark */
    background-color: $cdark;
}
.bg-dark-mid
{
    /* mid dark */
    background-color: $cdarkmid;
}




.bg-white
{
    background-color: $cwhite;
}
.bg-white-mid
{
    background-color: $cwhitemid;
}




.round-shape
{
    border-radius: 16px;
}




.text-center
{
    text-align: center;
}




.text-left
{
    text-align: left;
}




.text-right
{
    text-align: right;
}




.font-small
{
    font-size: small;
}








/* others */
