/* import */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "../../node_modules/bootstrap//scss/functions";








/* variables */
$primary: #f1592a;
$secondary: #0f75bc;
$tertiary: #ec008c;
$white1: #ffffff;
$white2: #efefef;
$gray: #909090;
$dark1: #181818;
$dark2: #202020;

$enable-shadows: true;




@import "../../node_modules/bootstrap//scss/bootstrap.scss";








/* tag */
body
{
    font-family: 'Montserrat';
    letter-spacing: 1px;
}








/* id */








/* class */
.hidden
{
    display: none !important;
}




.color-primary
{
    color: $primary;
}




.color-secondary
{
    color: $secondary;
}




.color-tertiary
{
    color: $tertiary;
}




.bg-primary
{
    background-color: $primary;
}




.bg-secondary
{
    background-color: $secondary;
}




.bg-tertiary
{
    background-color: $tertiary;
}




.bg-dark
{
    /* mid dark */
    background-color: $dark1;
}
.bg-dark-mid
{
    /* mid dark */
    background-color: $dark2;
}




.bg-white
{
    background-color: $white1;
}
.bg-white-mid
{
    background-color: $white2;
}




.round-shape
{
    border-radius: 16px;
}




.text-center
{
    text-align: center;
}




.text-left
{
    text-align: left;
}




.text-right
{
    text-align: right;
}




.font-small
{
    font-size: small;
}








/* others */
