/* import */
@import url("https://fonts.googleapis.com/css?family=Montserrat");








/* tag */
body
{
    font-family: 'Montserrat';
    letter-spacing: 1px;
}








/* id */








/* class */
.hidden
{
    display: none !important;
}




.color-primary
{
    color: #ec008c;
}




.color-secondary
{
    color: #f1592a;
}




.color-tertiary
{
    color: #0f75bc;
}




.bg-primary
{
    background-color: #ec008c;
}




.bg-secondary
{
    background-color: #f1592a;
}




.bg-tertiary
{
    background-color: #0f75bc;
}




.bg-dark
{
    /* mid dark */
    background-color: #202020;
}




.bg-white
{
    background-color: #ffffff;
}




.round-shape
{
    border-radius: 16px;
}




.text-center
{
    text-align: center;
}




.text-left
{
    text-align: left;
}




.text-right
{
    text-align: right;
}




.font-small
{
    font-size: small;
}








/* others */
